.App header {
  margin: 0px 30px;
  padding-top: 30px;
  color: gray;
}
.App footer {
  text-align: center;
  padding: 30px 0;
}

.App .dictionary {
  background-color: white;
  max-width: 980px;
  margin: 0 auto;
  border: 1px solid whitesmoke;
  padding: 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
