.Meaning .definition {
  font-size: 15px;
  font-weight: 500;
}
.Meaning .example {
  font-weight: 300;
  font-size: 14px;
  font-style: italic;
  padding: 5px 0px;
}

.Meaning h4 {
  font-weight: 400;
  text-align: right;
}
.Meaning .part {
  padding-right: 40px;
  padding-top: 8px;
}
.Meaning .vertical {
  border-left: 0.01em solid black;
}

.Meaning .definitions {
  padding-top: 8px;
}
